
Saved/UnrealBuildTool/BuildConfiguration.xml
Saved/SourceControl/UncontrolledChangelists.json
Saved/Logs/Aura.log
Saved/Logs/Aura-backup-2024.11.04-22.35.53.log
Saved/Logs/Aura-backup-2024.11.04-22.04.25.log
Saved/Config/WindowsEditor/VariantManagerContent.ini
Saved/Config/WindowsEditor/TraceUtilities.ini
Saved/Config/WindowsEditor/TraceDataFilters.ini
Saved/Config/WindowsEditor/ToolPresets.ini
Saved/Config/WindowsEditor/Synthesis.ini
Saved/Config/WindowsEditor/StructUtils.ini
Saved/Config/WindowsEditor/Scalability.ini
Saved/Config/WindowsEditor/RuntimeOptions.ini
Saved/Config/WindowsEditor/Paper2D.ini
Saved/Config/WindowsEditor/ObjectMixerSerializedData.ini
Saved/Config/WindowsEditor/Niagara.ini
Saved/Config/WindowsEditor/Metasound.ini
Saved/Config/WindowsEditor/Lightmass.ini
Saved/Config/WindowsEditor/Interchange.ini
Saved/Config/WindowsEditor/InstallBundle.ini
Saved/Config/WindowsEditor/Input.ini
Saved/Config/WindowsEditor/IKRig.ini
Saved/Config/WindowsEditor/Hardware.ini
Saved/Config/WindowsEditor/GLTFExporter.ini
Saved/Config/WindowsEditor/Game.ini
Saved/Config/WindowsEditor/FullBodyIK.ini
Saved/Config/WindowsEditor/EnhancedInput.ini
Saved/Config/WindowsEditor/Engine.ini
Saved/Config/WindowsEditor/EditorScriptingUtilities.ini
Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
Saved/Config/WindowsEditor/Editor.ini
Saved/Config/WindowsEditor/DeviceProfiles.ini
Saved/Config/WindowsEditor/DatasmithContent.ini
Saved/Config/WindowsEditor/ControlRig.ini
Saved/Config/WindowsEditor/Compat.ini
Saved/Config/WindowsEditor/Bridge.ini
Saved/Config/CrashReportClient/UECC-Windows-9435AC0345FCE3400B8E678F2EB6BA3D/CrashReportClient.ini
Saved/Config/CrashReportClient/UECC-Windows-27DD818D4C8FAE91D840A6966B608BBC/CrashReportClient.ini
Saved/AutoScreenshot.png
Saved/Autosaves/PackageRestoreData.json
Saved/Autosaves/Game/Blueprints/Character/Enemy/BP_AuraGoblin_Auto1.uasset
Intermediate/TargetInfo.json
Intermediate/TargetInfo.Engine.json
Intermediate/TargetInfo.Aura.json
Intermediate/ProjectFiles/.Rider/Win64/DebugGame/Editor/UE5.json
Intermediate/ProjectFiles/.Rider/Win64/DebugGame/Editor/Aura.json
Intermediate/ProjectFiles/.Rider/root.json
Intermediate/CachedAssetRegistry_0.bin
Intermediate/Build/XmlConfigCache.bin
Intermediate/Build/Win64/x64/UnrealEditor/DebugGame/Aura/UnrealEditor-Aura-Win64-DebugGame.sup.lib
Intermediate/Build/Win64/x64/UnrealEditor/DebugGame/Aura/UnrealEditor-Aura-Win64-DebugGame.sup.exp
Intermediate/Build/Win64/x64/UnrealEditor/DebugGame/Aura/UnrealEditor-Aura-Win64-DebugGame.lib.rsp
Intermediate/Build/Win64/x64/UnrealEditor/DebugGame/Aura/UnrealEditor-Aura-Win64-DebugGame.lib
Intermediate/Build/Win64/x64/UnrealEditor/DebugGame/Aura/UnrealEditor-Aura-Win64-DebugGame.exp
Intermediate/Build/Win64/x64/UnrealEditor/DebugGame/Aura/UnrealEditor-Aura-Win64-DebugGame.dll.rsp
Intermediate/Build/Win64/x64/UnrealEditor/DebugGame/Aura/LiveCodingInfo.json
Intermediate/Build/Win64/x64/UnrealEditor/DebugGame/Aura/Definitions.Aura.h
Intermediate/Build/Win64/x64/UnrealEditor/DebugGame/Aura/Default.rc2.res.rsp
Intermediate/Build/Win64/x64/UnrealEditor/DebugGame/Aura/Default.rc2.res
Intermediate/Build/Win64/x64/UnrealEditor/DebugGame/Aura/AuraEnemy.gen.cpp.obj.rsp
Intermediate/Build/Win64/x64/UnrealEditor/DebugGame/Aura/AuraEnemy.gen.cpp.obj
Intermediate/Build/Win64/x64/UnrealEditor/DebugGame/Aura/AuraEnemy.gen.cpp.dep.json
Intermediate/Build/Win64/x64/UnrealEditor/DebugGame/Aura/AuraEnemy.cpp.obj.rsp
Intermediate/Build/Win64/x64/UnrealEditor/DebugGame/Aura/AuraEnemy.cpp.obj
Intermediate/Build/Win64/x64/UnrealEditor/DebugGame/Aura/AuraEnemy.cpp.dep.json
Intermediate/Build/Win64/x64/UnrealEditor/DebugGame/Aura/AuraCharacterBase.gen.cpp.obj.rsp
Intermediate/Build/Win64/x64/UnrealEditor/DebugGame/Aura/AuraCharacterBase.gen.cpp.obj
Intermediate/Build/Win64/x64/UnrealEditor/DebugGame/Aura/AuraCharacterBase.gen.cpp.dep.json
Intermediate/Build/Win64/x64/UnrealEditor/DebugGame/Aura/AuraCharacterBase.cpp.obj.rsp
Intermediate/Build/Win64/x64/UnrealEditor/DebugGame/Aura/AuraCharacterBase.cpp.obj
Intermediate/Build/Win64/x64/UnrealEditor/DebugGame/Aura/AuraCharacterBase.cpp.dep.json
Intermediate/Build/Win64/x64/UnrealEditor/DebugGame/Aura/AuraCharacter.gen.cpp.obj.rsp
Intermediate/Build/Win64/x64/UnrealEditor/DebugGame/Aura/AuraCharacter.gen.cpp.obj
Intermediate/Build/Win64/x64/UnrealEditor/DebugGame/Aura/AuraCharacter.gen.cpp.dep.json
Intermediate/Build/Win64/x64/UnrealEditor/DebugGame/Aura/AuraCharacter.cpp.obj.rsp
Intermediate/Build/Win64/x64/UnrealEditor/DebugGame/Aura/AuraCharacter.cpp.obj
Intermediate/Build/Win64/x64/UnrealEditor/DebugGame/Aura/AuraCharacter.cpp.dep.json
Intermediate/Build/Win64/x64/UnrealEditor/DebugGame/Aura/Aura.Shared.rsp
Intermediate/Build/Win64/x64/UnrealEditor/DebugGame/Aura/Aura.init.gen.cpp.obj.rsp
Intermediate/Build/Win64/x64/UnrealEditor/DebugGame/Aura/Aura.init.gen.cpp.obj
Intermediate/Build/Win64/x64/UnrealEditor/DebugGame/Aura/Aura.init.gen.cpp.dep.json
Intermediate/Build/Win64/x64/UnrealEditor/DebugGame/Aura/Aura.cpp.obj.rsp
Intermediate/Build/Win64/x64/UnrealEditor/DebugGame/Aura/Aura.cpp.obj
Intermediate/Build/Win64/x64/UnrealEditor/DebugGame/Aura/Aura.cpp.dep.json
Intermediate/Build/Win64/x64/UnrealEditor/ActionHistory.bin
Intermediate/Build/Win64/x64/AuraEditor/DebugGame/UnrealEd/SharedPCH.UnrealEd.RTTI.Cpp20.h.obj.rsp
Intermediate/Build/Win64/x64/AuraEditor/DebugGame/UnrealEd/SharedPCH.UnrealEd.RTTI.Cpp20.h
Intermediate/Build/Win64/x64/AuraEditor/DebugGame/UnrealEd/SharedPCH.UnrealEd.RTTI.Cpp20.cpp
Intermediate/Build/Win64/x64/AuraEditor/DebugGame/UnrealEd/SharedPCH.UnrealEd.Cpp20.h.obj.rsp
Intermediate/Build/Win64/x64/AuraEditor/DebugGame/UnrealEd/SharedPCH.UnrealEd.Cpp20.h
Intermediate/Build/Win64/x64/AuraEditor/DebugGame/UnrealEd/SharedPCH.UnrealEd.Cpp20.cpp
Intermediate/Build/Win64/x64/AuraEditor/DebugGame/UnrealEd/SharedDefinitions.UnrealEd.RTTI.Cpp20.h
Intermediate/Build/Win64/x64/AuraEditor/DebugGame/UnrealEd/SharedDefinitions.UnrealEd.Cpp20.h
Intermediate/Build/Win64/x64/AuraEditor/DebugGame/TargetMetadata.dat
Intermediate/Build/Win64/x64/AuraEditor/DebugGame/Slate/SharedPCH.Slate.Cpp20.h.obj.rsp
Intermediate/Build/Win64/x64/AuraEditor/DebugGame/Slate/SharedPCH.Slate.Cpp20.h
Intermediate/Build/Win64/x64/AuraEditor/DebugGame/Slate/SharedPCH.Slate.Cpp20.cpp
Intermediate/Build/Win64/x64/AuraEditor/DebugGame/Slate/SharedDefinitions.Slate.Cpp20.h
Intermediate/Build/Win64/x64/AuraEditor/DebugGame/Makefile.bin
Intermediate/Build/Win64/x64/AuraEditor/DebugGame/Engine/SharedPCH.Engine.RTTI.Cpp20.h
Intermediate/Build/Win64/x64/AuraEditor/DebugGame/Engine/SharedPCH.Engine.NonOptimized.Cpp20.InclOrderUnreal5_0.h.pch
Intermediate/Build/Win64/x64/AuraEditor/DebugGame/Engine/SharedPCH.Engine.NonOptimized.Cpp20.InclOrderUnreal5_0.h.obj.rsp
Intermediate/Build/Win64/x64/AuraEditor/DebugGame/Engine/SharedPCH.Engine.NonOptimized.Cpp20.InclOrderUnreal5_0.h.obj
Intermediate/Build/Win64/x64/AuraEditor/DebugGame/Engine/SharedPCH.Engine.NonOptimized.Cpp20.InclOrderUnreal5_0.h.dep.json
Intermediate/Build/Win64/x64/AuraEditor/DebugGame/Engine/SharedPCH.Engine.NonOptimized.Cpp20.InclOrderUnreal5_0.h
Intermediate/Build/Win64/x64/AuraEditor/DebugGame/Engine/SharedPCH.Engine.NonOptimized.Cpp20.InclOrderUnreal5_0.cpp
Intermediate/Build/Win64/x64/AuraEditor/DebugGame/Engine/SharedPCH.Engine.Cpp20.h.obj.rsp
Intermediate/Build/Win64/x64/AuraEditor/DebugGame/Engine/SharedPCH.Engine.Cpp20.h
Intermediate/Build/Win64/x64/AuraEditor/DebugGame/Engine/SharedPCH.Engine.Cpp20.cpp
Intermediate/Build/Win64/x64/AuraEditor/DebugGame/Engine/SharedPCH.Engine.Cpp17.h.obj.rsp
Intermediate/Build/Win64/x64/AuraEditor/DebugGame/Engine/SharedPCH.Engine.Cpp17.h
Intermediate/Build/Win64/x64/AuraEditor/DebugGame/Engine/SharedPCH.Engine.Cpp17.cpp
Intermediate/Build/Win64/x64/AuraEditor/DebugGame/Engine/SharedDefinitions.Engine.RTTI.Cpp20.h
Intermediate/Build/Win64/x64/AuraEditor/DebugGame/Engine/SharedDefinitions.Engine.NonOptimized.Cpp20.InclOrderUnreal5_0.h
Intermediate/Build/Win64/x64/AuraEditor/DebugGame/Engine/SharedDefinitions.Engine.Cpp20.h
Intermediate/Build/Win64/x64/AuraEditor/DebugGame/Engine/SharedDefinitions.Engine.Cpp17.h
Intermediate/Build/Win64/x64/AuraEditor/DebugGame/DependencyCache.bin
Intermediate/Build/Win64/x64/AuraEditor/DebugGame/CoreUObject/SharedPCH.CoreUObject.RTTI.Cpp20.h.obj.rsp
Intermediate/Build/Win64/x64/AuraEditor/DebugGame/CoreUObject/SharedPCH.CoreUObject.RTTI.Cpp20.h
Intermediate/Build/Win64/x64/AuraEditor/DebugGame/CoreUObject/SharedPCH.CoreUObject.RTTI.Cpp20.cpp
Intermediate/Build/Win64/x64/AuraEditor/DebugGame/CoreUObject/SharedPCH.CoreUObject.Cpp20.h.obj.rsp
Intermediate/Build/Win64/x64/AuraEditor/DebugGame/CoreUObject/SharedPCH.CoreUObject.Cpp20.h
Intermediate/Build/Win64/x64/AuraEditor/DebugGame/CoreUObject/SharedPCH.CoreUObject.Cpp20.cpp
Intermediate/Build/Win64/x64/AuraEditor/DebugGame/CoreUObject/SharedDefinitions.CoreUObject.RTTI.Cpp20.h
Intermediate/Build/Win64/x64/AuraEditor/DebugGame/CoreUObject/SharedDefinitions.CoreUObject.Cpp20.h
Intermediate/Build/Win64/x64/AuraEditor/DebugGame/Core/SharedPCH.Core.RTTI.Cpp20.h.obj.rsp
Intermediate/Build/Win64/x64/AuraEditor/DebugGame/Core/SharedPCH.Core.RTTI.Cpp20.h
Intermediate/Build/Win64/x64/AuraEditor/DebugGame/Core/SharedPCH.Core.RTTI.Cpp20.cpp
Intermediate/Build/Win64/x64/AuraEditor/DebugGame/Core/SharedPCH.Core.Cpp20.h.obj.rsp
Intermediate/Build/Win64/x64/AuraEditor/DebugGame/Core/SharedPCH.Core.Cpp20.h
Intermediate/Build/Win64/x64/AuraEditor/DebugGame/Core/SharedPCH.Core.Cpp20.cpp
Intermediate/Build/Win64/x64/AuraEditor/DebugGame/Core/SharedPCH.Core.Cpp17.h.obj.rsp
Intermediate/Build/Win64/x64/AuraEditor/DebugGame/Core/SharedPCH.Core.Cpp17.h
Intermediate/Build/Win64/x64/AuraEditor/DebugGame/Core/SharedPCH.Core.Cpp17.cpp
Intermediate/Build/Win64/x64/AuraEditor/DebugGame/Core/SharedDefinitions.Core.RTTI.Cpp20.h
Intermediate/Build/Win64/x64/AuraEditor/DebugGame/Core/SharedDefinitions.Core.Cpp20.h
Intermediate/Build/Win64/x64/AuraEditor/DebugGame/Core/SharedDefinitions.Core.Cpp17.h
Intermediate/Build/Win64/x64/AuraEditor/ActionHistory.bin
Intermediate/Build/Win64/UnrealEditor/Inc/Aura/UHT/Timestamp
Intermediate/Build/Win64/UnrealEditor/Inc/Aura/UHT/AuraEnemy.generated.h
Intermediate/Build/Win64/UnrealEditor/Inc/Aura/UHT/AuraEnemy.gen.cpp
Intermediate/Build/Win64/UnrealEditor/Inc/Aura/UHT/AuraClasses.h
Intermediate/Build/Win64/UnrealEditor/Inc/Aura/UHT/AuraCharacterBase.generated.h
Intermediate/Build/Win64/UnrealEditor/Inc/Aura/UHT/AuraCharacterBase.gen.cpp
Intermediate/Build/Win64/UnrealEditor/Inc/Aura/UHT/AuraCharacter.generated.h
Intermediate/Build/Win64/UnrealEditor/Inc/Aura/UHT/AuraCharacter.gen.cpp
Intermediate/Build/Win64/UnrealEditor/Inc/Aura/UHT/Aura.init.gen.cpp
Intermediate/Build/Win64/AuraEditor/DebugGame/AuraEditor.uhtpath
Intermediate/Build/Win64/AuraEditor/DebugGame/AuraEditor.uhtmanifest
Intermediate/Build/Win64/AuraEditor/DebugGame/AuraEditor.deps
Intermediate/Build/Win64/ActionHistory.bin
Intermediate/Build/SourceFileCache.bin
Intermediate/Build/BuildRules/AuraModuleRulesManifest.json
Intermediate/Build/BuildRules/AuraModuleRules.pdb
Intermediate/Build/BuildRules/AuraModuleRules.dll
Saved/Logs/Aura.log
Saved/Config/WindowsEditor/Engine.ini
Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
Intermediate/CachedAssetRegistry_0.bin
.vs/Aura/v17/Solution.VC.db
Intermediate/Build/Win64/x64/UnrealEditor/DebugGame/Aura/UnrealEditor-Aura-Win64-DebugGame.lib.rsp.old
Intermediate/Build/Win64/x64/UnrealEditor/DebugGame/Aura/UnrealEditor-Aura-Win64-DebugGame.dll.rsp.old
Intermediate/Build/Win64/x64/UnrealEditor/DebugGame/Aura/AuraPlayerController.gen.cpp.obj.rsp.lc
Intermediate/Build/Win64/x64/UnrealEditor/DebugGame/Aura/AuraPlayerController.gen.cpp.obj.rsp
Intermediate/Build/Win64/x64/UnrealEditor/DebugGame/Aura/AuraPlayerController.gen.cpp.lc.obj
Intermediate/Build/Win64/x64/UnrealEditor/DebugGame/Aura/AuraPlayerController.gen.cpp.dep.lc.json
Intermediate/Build/Win64/x64/UnrealEditor/DebugGame/Aura/AuraPlayerController.cpp.obj.rsp.lc
Intermediate/Build/Win64/x64/UnrealEditor/DebugGame/Aura/AuraPlayerController.cpp.obj.rsp
Intermediate/Build/Win64/x64/UnrealEditor/DebugGame/Aura/Aura.init.gen.cpp.obj.rsp.lc
Intermediate/Build/Win64/x64/UnrealEditor/DebugGame/Aura/Aura.init.gen.cpp.lc.obj
Intermediate/Build/Win64/x64/UnrealEditor/DebugGame/Aura/Aura.init.gen.cpp.dep.lc.json
Intermediate/Build/Win64/UnrealEditor/Inc/Aura/UHT/AuraPlayerController.generated.h
Intermediate/Build/Win64/UnrealEditor/Inc/Aura/UHT/AuraPlayerController.gen.cpp
Saved/Config/WindowsEditor/Engine.ini
Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
